<% 
const EJS_PATH = "../";
let tag = (PAGE_DATA === 'top') ? 'h1' : 'div';
const header_nav_items = [
{
  href: ROOT_PATH,
  text: "home",
},  
{
  href: ROOT_PATH + "about/",
  text: "about",
},  
{
  href: ROOT_PATH + "#about",
  text: "aboutセクション",
},  
];
%>
<header class="p-header l-header">
  <div class="p-header__inner l-inner">
    <<%= tag %> class="p-header__logo">
      <a href="<%= ROOT_PATH %>" class="p-header__logo-link">
        <img src="<%= ROOT_PATH %>assets/images/common/logo.svg" alt="">
      </a>
    </<%= tag %>>
    <button class="p-header__menu-button c-menu-button" id="js-menu" aria-controls="js-drawer" aria-expanded="false" aria-label="メニューを開閉する">
      <span></span>
    </button>
    <nav class="p-header__pc-nav">
      <ul class="p-header__pc-nav-items">
        <% header_nav_items.forEach(function(item) { %>
        <li class="p-header__pc-nav-item">
          <a href="<%- item.href %>">
            <%- item.text %>
          </a>
        </li>
        <% }); %>
      </ul>
    </nav>
  </div>
</header>
<nav class="l-drawer p-drawer" id="js-drawer" aria-hidden="true">
  <div class="p-drawer__inner l-inner">
      <ul class="p-drawer__nav-items" id="js-drawer-menu">
        <% header_nav_items.forEach(function(item) { %>
        <li class="p-drawer__nav-item">
          <a href="<%- item.href %>">
            <%- item.text %>
          </a>
        </li>
        <% }); %>
      </ul>
  </div>
</nav>