<% const EJS_PATH = "../"; DOMAIN = "https://rea1i2e.net/"%>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <!-- meta情報 -->
  <title><%- page['title'] %></title>
  <meta name="description" content="<%- page['description'] %>" />
  <meta property="og:site_name" content="<%- page['title'] %>" />
  <meta property="og:url" content="<%- DOMAIN + page['path'] %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%- page['title'] %>" />
  <meta property="og:description" content="<%- page['description'] %>" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:image" content="<%- DOMAIN %>ogp.png" />
  <meta name="twitter:card" content="summary_large_image">
  <%# <meta name="twitter:site" content=""> %>
  <meta name="twitter:title" content="<%- page['title'] %>">
  <meta name="twitter:description" content="<%- page['description'] %>">
  <meta name="twitter:image:src" content="<%- DOMAIN %>ogp.png">
  <!-- その他画像関連 -->
  <link rel="shortcut icon" href="./favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" href="./apple-touch-icon.png">
  <!-- canonicalタグ -->
  <link rel="canonical" href="<%- DOMAIN + page['path'] %>">
  <!-- css -->
  <link rel="stylesheet" href="<%- ROOT_PATH %>assets/css/style.css?ver=<%- new Date().getTime() %>" />
  <!-- JavaScript -->
  <script defer src="<%- ROOT_PATH %>assets/js/bundle.js?var=<%- new Date().getTime() %>"></script>
  
</head>