<% const EJS_PATH = "../"; %>
<% const dialogs = [
  { 
    title: "一つ目のモーダルコンテンツ", 
    trigger: "Sample 01",
    descriptions: [
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "<a href='#'>Focus Test</a>"
    ]
  },
  { 
    title: "二つ目のモーダルコンテンツ", 
    trigger: "Sample 02",
    descriptions: [
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "<a href='#'>Focus Test</a>"
    ]
  },
  { 
    title: "三つ目のモーダルコンテンツ", 
    trigger: "Sample 03",
    descriptions: [
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "<a href='#'>Focus Test</a>"
    ]
  }
]; %>
<div class="">
  <% dialogs.forEach((dialog, index) => { %>
    <button class="p-dialog-trigger" type="button" data-modal-open="modal<%- index + 1 %>">
      <%- dialog.trigger %>
    </button>
    <dialog id="modal<%- index + 1 %>" class="p-dialog js-dialog" <%- index === 0 ? 'autofocus' : '' %>>
      <div class="p-dialog__container">
        <h1 class="p-dialog__title"><%- dialog.title %></h1>
        <% dialog.descriptions.forEach(description => { %>
          <p class="p-dialog__description"><%- description %></p>
        <% }); %>
      </div>
      <button class="close" type="button" aria-labelledby="close<%- index + 1 %>" data-modal-close>
        <span id="close<%- index + 1 %>" style="display:none">モーダルを閉じる</span>
      </button>
    </dialog>
  <% }); %>
</div>
