<% PAGE_DATA="components"; ROOT_PATH='./'; const EJS_PATH='./'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include(EJS_PATH + 'components/_head' ,{ rootPath: ROOT_PATH, page: json[PAGE_DATA] }) %>

<body>
  <%- include(EJS_PATH + 'components/_header' ) %>
  <%- include(EJS_PATH + 'components/_sub-mv', {
    image: {
      file: "dummy/dummy3",
      type: "jpg",
      alt: "",
      width: 2559,
      height: 1102
    },
    title_tag: "h1",
    title: "ページタイトル",
  } ) %>
  <main>
    <div class="l-inner">
      <h2>モーダル</h2>
      <%- include(EJS_PATH + 'components/_p-dialog') %>
      <hr>

      <h2>カウントアップ</h2>
      <%- include(EJS_PATH + 'components/_countup') %>
      <hr>

      <h2>タブ</h2>
      <%- include(EJS_PATH + 'components/_tab') %>
      <hr>

      <%  %>
      <%-  %>
      <%=  %>
    </div>
    <h2>無限ループスライダー</h2>
    <%- include(EJS_PATH + 'components/_loop-slider') %>
  </main>
  <%- include(EJS_PATH + 'components/_footer' ) %>
</body>

</html>