<% PAGE_DATA="top"; ROOT_PATH='./'; const EJS_PATH='./';%>
<!DOCTYPE html>
<html lang="ja">
<%- include(EJS_PATH + 'components/_head' ,{ rootPath: ROOT_PATH, page: json[PAGE_DATA] }) %>

<body>
  <%- include(EJS_PATH + 'components/_header' ) %>
  <main>
    <%- include(EJS_PATH + 'components/_mv') %>
    <div class="l-inner">
      <br /><br /><br /><br /><br />
      <h1>./index.html</h1><br /><br />
      <h2>dialog要素によるモーダル</h2>
      <%- include(EJS_PATH + 'components/_p-dialog') %>
      <h2>コンポーネント表示確認用ページ</h2><br><%- DOMAIN %>
      <div class="" style="text-decoration: underline;">
        <p><a href="<%- ROOT_PATH + json[`components`][`path`] %>">./components.html</a></p>
        <p><a href="<%- ROOT_PATH + json[`about`][`path`] %>">./about/</a></p>
        <p><a href="<%- DOMAIN + json[`about`][`path`] %>"><%- DOMAIN + json[`about`][`path`] %></a></p>
      </div>
      <h2>スクロールアニメーション</h2>
      <span data-target>スクロールアニメーション</span>
      <span data-fadein="200">スクロールアニメーション</span>
      <span data-fadein="400">スクロールアニメーション</span>
      <h3>カウントアップ</h3>
      <div data-counter="50">0</div>
      <div data-counter="2000">0</div>
      <div data-counter="3000">0</div>
    </div>
    <div class="test"></div>
    <%- include(EJS_PATH + 'components/_loop-slider'); %>
  </main>
  <%- include(EJS_PATH + 'components/_footer' ) %>
</body>

</html>