<% PAGE_DATA="top"; ROOT_PATH='./'; const EJS_PATH='./';%>
<!DOCTYPE html>
<html lang="ja">
<%- include(EJS_PATH + 'common/_head' ,{ rootPath: ROOT_PATH, page: json[PAGE_DATA] }) %>

<body>
  <%- include(EJS_PATH + 'common/_header' ) %>
  <main>
    <div class="l-inner">
      <br /><br /><br /><br /><br />
      <h1>./index.html</h1><br /><br />
      <h2>コンポーネント表示確認用ページ</h2><br><%- DOMAIN %>
      <div class="" style="text-decoration: underline;">
        <p><a href="<%- ROOT_PATH + json[`components`][`path`] %>">./components.html</a></p>
        <p><a href="<%- ROOT_PATH + json[`about`][`path`] %>">./about/</a></p>
        <p><a href="<%- DOMAIN + json[`about`][`path`] %>"><%- DOMAIN + json[`about`][`path`] %></a></p>
      </div>
    </div>
  </main>
  <%- include(EJS_PATH + 'common/_footer' ) %>
</body>

</html>